<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          class="form-control"
          type="text"
          name=""
          placeholder="Buscar Medico"
          (keyup)="searchMedico(termino.value)"
          #termino
        />
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <!-- <i class="fas fa-spinner fas fa-sync fas-2x"></i> -->
      <i class="fas fa-spinner fa-spin fa-5x"></i>
      <!-- <i class="fas fa-camera fa-10x"></i> -->
      <!-- <i class="fas fa-sync fa-5x"></i> -->
      <p class="mb-0">Por favor Espere</p>
    </div>
  </div>
</div>
<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <div class="card-header">
              <h4>Medicos ({{ medicos.length }})</h4>
            </div>
          </div>
          <div class="col">
            <div class="text-right">
              <a
                class="btn btn-outline-primary"
                [routerLink]="['/dashboard/medico/nuevo']"
              >
                <i class="fas fa-user-md" aria-hidden="true"></i> Crear Medico
              </a>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered table-md">
            <tbody>
              <tr>
                <th class="w100">Avatar</th>
                <th>Nombre</th>
                <th>Estado</th>

                <th class="w150">Acciones</th>
              </tr>
              <tr *ngFor="let medico of medicos">
                <td>
                  <img
                    [src]="medico.medico_img | imagen: 'medicos'"
                    class="w100 avatar cursor"
                    alt=""
                    (click)="openModal(medico)"
                  />
                </td>
                <td>{{ medico.medico_name }}</td>

                <td><div class="badge badge-success">Active</div></td>
                <td>
                  <a
                    [routerLink]="['/dashboard', 'medico', medico.medico_id]"
                    class="btn btn-icon btn-success"
                    ><i class="far fa-edit fa-lg"></i></a
                  >&nbsp;
                  <button class="btn btn-danger" (click)="deleteMedico(medico)">
                    <i class="fas fa-trash-alt fa-lg cursor"></i>
                  </button>
                  <!-- <i class="fas fa-user-edit fa-lg"></i> &nbsp;
                  <i class="far fa-trash-alt fa-lg"></i> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="card-footer text-left">
        <nav class="d-inline-block">
          <ul class="pagination mb-0">
            <li class="page-item">
              <a class="page-link" href="#" tabindex="-1"
                ><i class="fas fa-chevron-left"></i
              ></a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#"
                >1 <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#"
                ><i class="fas fa-chevron-right"></i
              ></a>
            </li>
          </ul>
        </nav>
      </div> -->
    </div>
  </div>
</div>
