<div class="row">
  <div class="col-md-6">
    <form
      class="form-horizontal"
      [formGroup]="medicoForms"
      (ngSubmit)="guardar()"
    >
      <div class="card">
        <div class="card-header" *ngIf="medicoseleccionado">
          <h4>Actualizar informacion del Medico</h4>
        </div>
        <div class="card-header" *ngIf="!medicoseleccionado">
          <h4>Crear un Medico</h4>
        </div>
        <div class="card-body">
          <div class="form-group row" *ngIf="medicoseleccionado">
            <label class="col-sm-3">Foto</label>
            <img
              class="w150 img-thumbnail"
              [src]="medicoseleccionado.medico_img | imagen: 'medicos'"
              alt=""
            />
          </div>
          <div class="form-group">
            <label>Nombre</label>
            <input
              type="text"
              class="form-control"
              placeholder="Nombre del Medico"
              formControlName="medico_name"
            />
          </div>

          <div class="form-group">
            <label for="inputHospital">Hospital</label>
            <select
              id="inputHospital"
              class="form-control"
              formControlName="medico_hospital_id"
            >
              <option value="">Seleccionar Hospital</option>
              <option
                *ngFor="let hospital of hospitales"
                [value]="hospital.hospital_id"
              >
                {{ hospital.hospital_name }}
              </option>
            </select>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" [disabled]="medicoForms.invalid">
            <i class="fas fa-save"></i>
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="col" *ngIf="hospitalSeleccionado">
    <div class="card">
      <div class="card-header">
        <h4>Hospital</h4>
      </div>
      <div class="card-body">
        <h6>{{ hospitalSeleccionado.hospital_name }}</h6>
        <br />
        <div class="form-group text-center">
          <img
            class="img-thumbnail"
            [src]="hospitalSeleccionado.hospital_img | imagen: 'hospitales'"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
