<div id="app">
  <div class="wrapper"></div>
  <!-- <div class="navbar-bg"></div> -->
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div class="content-wrapper" style="min-height: 783px">
    <!-- breadcrumbs -->
    <app-breadcrumbs></app-breadcrumbs>

    <!-- Sistema de Rutas -->

    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->

          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>

    <!-- Content Header (Page header) -->

    <!-- <div class="section-body"> -->
    <!-- <div class="card"> -->
    <!-- <div class="card-header">
            <h4>Example Card</h4>
          </div> -->
    <!-- <div class="card-body"> -->

    <!-- <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                </div>
            </div>
        </div>
    </div> -->
  </div>

  <!--
    <footer class="main-footer fixed-bottom"> -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">Anything you want</div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2014-2020
      <a href="">miApp.io</a>.</strong>
    All rights reserved.
  </footer>
</div>
<app-image-modal></app-image-modal>
<app-datos-modal></app-datos-modal>
