<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          class="form-control"
          type="text"
          placeholder="Buscar Usuario..."
          (keyup)="searchUser(termino.value)"
          #termino
        />
      </div>
    </div>
  </div>
</div>
<div *ngIf="load" class="row">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <!-- <i class="fas fa-spinner fas fa-sync fas-2x"></i> -->
      <i class="fas fa-spinner fa-spin fa-5x"></i>
      <!-- <i class="fas fa-camera fa-10x"></i> -->
      <!-- <i class="fas fa-sync fa-5x"></i> -->
      <p class="mb-0">Por favor Espere</p>
    </div>
  </div>
</div>
<div class="row" *ngIf="!load">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4>Total Usuarios: {{ totalUser }} - {{ desde }}</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-md">
            <tbody>
              <tr>
                <th class="w100 text-center">Avatar</th>
                <th class="text-center">Email</th>
                <th class="text-center">Nombre</th>
                <th class="text-center w150">Role</th>
                <th class="w100 text-center">Auth</th>
                <th class="w100 text-center">Estado</th>
                <th class="text-center w-25 p-3">Acciones</th>
              </tr>
              <tr *ngFor="let user of usuarios">
                <td class="text-center">
                  <img
                    [src]="user.user_img | imagen: 'users'"
                    alt="Imagen de Avatar"
                    class="w100 avatar cursor"
                    (click)="openModal(user)"
                  />
                </td>
                <td>{{ user.user_email }}</td>
                <td>{{ user.user_name }}</td>
                <td>
                  <select
                    class="form-control"
                    [(ngModel)]="user.user_role"
                    (change)="changeRole(user)"
                  >
                    <option value="ADMIN_ROLE">ADMIN</option>
                    <option value="USER_ROLE">USER</option>
                  </select>
                </td>
                <!-- class="text-center">{{ user.user_role }} -->
                <td class="text-center">
                  <span *ngIf="user.user_google" class="badge badge-danger"
                    >Google</span
                  >
                  <span *ngIf="!user.user_google" class="badge badge-info"
                    >Email</span
                  >
                </td>
                <td class="text-center">
                  <div *ngIf="user.user_state" class="badge badge-success">
                    {{ user.user_state }}
                  </div>
                  <div *ngIf="!user.user_state" class="badge badge-danger">
                    {{ user.user_state }}
                  </div>
                </td>
                <td class="text-center">
                  <button
                    [disabled]="user.user_id === userService.user_id"
                    (click)="deleteUser(user)"
                    class="btn btn-danger"
                  >
                    <i class="fas fa-trash-alt fa-lg"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngIf="termino.value.length === 0" class="card-footer text-left">
        <nav class="d-inline-block">
          <ul class="pagination mb-0">
            <li class="page-item">
              <a class="page-link cursor" (click)="changePage(-5)"
                ><i class="fas fa-chevron-left"></i>Anterior</a
              >
            </li>
            <li class="page-item">
              <a class="page-link cursor" (click)="changePage(5)"
                >Siguiente<i class="fas fa-chevron-right"></i
              ></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
