<div class="register-page hold-transition">
  <div class="register-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center h1">Register</div>
      <div class="card-body">
        <p class="login-box-msg">Register with new account</p>

        <form
          (ngSubmit)="createUser()"
          autocomplete="off"
          [formGroup]="registerForm"
        >
          <div class="input-group mb-3">
            <input
              id="name"
              type="text"
              class="form-control"
              name="name"
              placeholder="Name"
              formControlName="user_name"
              autofocus
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              id="email"
              type="email"
              class="form-control"
              name="email"
              placeholder="email"
              formControlName="user_email"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              id="password"
              type="password"
              class="form-control pwstrength"
              data-indicator="pwindicator"
              name="password"
              placeholder="password"
              formControlName="user_password"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              id="password2"
              type="password"
              class="form-control"
              name="password2"
              placeholder="confirm password"
              formControlName="user_password2"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input
                  type="checkbox"
                  id="agreeTerms"
                  name="terms"
                  value="agree"
                />
                <label for="agreeTerms">
                  I agree to the <a href="#">terms</a>
                </label>
              </div>
            </div>

            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">
                Register
              </button>
            </div>
            <!-- /.col -->
          </div>
          <div class="row mt-2">
            <div class="col text-danger">
              <p *ngIf="campoNovalido('user_name')">
                * El nombre es obligatorio
              </p>
              <p *ngIf="campoNovalido('user_email')">
                * El email es obligatorio
              </p>
              <p *ngIf="contrasenasNoValidas()">
                * Las Contrasenias deben de ser iguales
              </p>
              <p *ngIf="aceptarTerminos()">
                * Debe aceptar los terminos de uso
              </p>
            </div>
          </div>
        </form>

        <div class="mt-5 text-muted text-center">
          Already have a account? <a routerLink="/login">Sing In</a>
        </div>
      </div>
      <!-- /.form-box -->
    </div>
    <!-- /.card -->
  </div>
</div>
