<!-- <section class="section">
  <div class="section-header">
    <h1>{{ titulo }}</h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item active"><a href="#">Home</a></div>
      <div class="breadcrumb-item"><a href="#">Pages</a></div>
      <div class="breadcrumb-item">{{ titulo }}</div>
    </div>
  </div>
</section> -->
<!-- <section class="content-header">
  <div class="container-fluid">
    -
    <div class="row mb-2">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h1>{{ titulo }}</h1>
            <div class="breadcrumb float-right">
              <div class="breadcrumb-item active"><a href="#">Home</a></div>
              <div class="breadcrumb-item"><a href="#">Pages</a></div>
              <div class="breadcrumb-item">{{ titulo }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section> -->
<section class="content-header">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <!-- <div class="row">
      <div class="col-sm-6"> -->
        <!-- <h1>Blank Page</h1> -->
        <h1>{{ titulo }}</h1>
        <div class="col">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Pages</li>
            <li class="breadcrumb-item active">{{ titulo }}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
